* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #eeeeea;
}


/* Logo */

.logo {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: flex-start;

}

.logo img {
    width: 50%;


}

/* Menu Bar */

.navbar {
    display: flex;

}


.nav-list {
    background-color: aqua;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;

}


.nav-list li {
    list-style: none;
    padding: 15px;

}



.nav-list li a {
    text-decoration: none;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: large;


}

.nav-list li a:hover {

    color: blue;
}


.rightNav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    width: 20%
}

#search {
    padding: 3px;
    
    border-radius: 10px;
}

.btn-sm{
    padding: 3px;
    
    border-radius: 10px; 
}


.heading{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(29, 29, 245);

}

.paragraph{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(117, 117, 241);

}
/* Accordion Card of Images */


.wrapper {
    width: 100%;
    height: 80vh;
    display: flex;
    align-items:flex-start;
    justify-content: center;
}

.container {
    height: 400px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
}

.card {
    width: 80px;
    border-radius: .75rem;
    background-size: cover;
    cursor: pointer;
    overflow: hidden;
    border-radius: 2rem;
    margin: 0 10px;
    display: flex;
    align-items: flex-end;
    transition: .6s cubic-bezier(.28, -0.03, 0, .99);
    box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.8);
}

.card>.row {
    color: white;
    display: flex;
    flex-wrap: nowrap;
}

.card>.row>.icon {
    background: #223;
    color: white;
    border-radius: 50%;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

.card>.row>.description {
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    height: 80px;
    width: 520px;
    opacity: 0;
    transform: translateY(30px);
    transition-delay: .3s;
    transition: all .3s ease;
}

.description p {
    color: #ffffff;
    padding-top: 5px;
}

.description h4 {
    text-transform: uppercase;
}

input {
    display:inline;
}

input:checked+label {
    width: 600px;
}

input:checked+label .description {
    opacity: 1 !important;
    transform: translateY(0) !important;
}

.card[for="c1"] {
    background-image: url(img1.png);
}

.card[for="c2"] {
    background-image: url(img2.png);
}

.card[for="c3"] {
    background-image: url(img3.png);
}

.card[for="c4"] {
    background-image: url(img4.png);
}




/* Latest Blogs */


.containerr {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    margin-block: 2rem;
    gap: 2rem;
  }
  
  img {
    max-width: 100%;
    display: block;
    object-fit: cover;
  }
  
  .cardd {
    display: flex;
    flex-direction: column;
    width: clamp(20rem, calc(20rem + 2vw), 22rem);
    overflow: hidden;
    box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
    border-radius: 1em;
    background: #ECE9E6;
  background: linear-gradient(to right, #FFFFFF, #ECE9E6);
  
  }
  
  
  
  .card__body {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
  }
  
  
  .tag {
    align-self: flex-start;
    padding: .25em .75em;
    border-radius: 1em;
    font-size: .75rem;
  }
  
  .tag + .tag {
    margin-left: .5em;
  }
  
  .tag-blue {
    background: #56CCF2;
  background: linear-gradient(to bottom, #2F80ED, #56CCF2);
    color: #fafafa;
  }
  
  .tag-brown {
    background: #D1913C;
  background: linear-gradient(to bottom, #FFD194, #D1913C);
    color: #fafafa;
  }
  
  .tag-red {
    background: #cb2d3e;
  background: linear-gradient(to bottom, #ef473a, #cb2d3e);
    color: #fafafa;
  }
  
  .card__body h4 {
    font-size: 1.5rem;
    text-transform: capitalize;
  }
  
  .card__footer {
    display: flex;
    padding: 1rem;
    margin-top: auto;
  }
  
  .user {
    display: flex;
    gap: .5rem;
  }
  
  .user__image {
    border-radius: 50%;
  }
  
  .user__info > small {
    color: #666;
  }